<!DOCTYPE html>
<html>
    <head>
        <link href="/web/assets/css/main.css" rel="stylesheet">
        <script src="/web/assets/js/jquery-3.2.0.min.js"></script>
    </head>
<body>

<form id="todoForm" method="post" action="">
    <input type="hidden" id="todoIdx" name="todoIdx" value="" />
    <input type="hidden" id="isDone" name="isDone" value="" />
<div id="myDIV" class="header">
    <h2 style="margin:5px">My To Do List</h2>
    <input type="text" id="todoTitle" name="todoTitle" value="" placeholder="Title...">
    <input type="text" style="display: none;" />
    <span onclick="fnAddTodo()" class="addBtn">Add</span>
</div>
</form>

<ul id="myUL">
    {{range .}}
    <li {{if .TodoIsDone}} class="checked" {{end}}>
        <a href="javascript:fnUpdateTodo('{{.TodoIdx}}','{{.TodoIsDone}}')">{{.TodoTitle}}</a>
        <span class="close" onclick="fnDeleteTodo('{{.TodoIdx}}')">×</span>
    </li>
    {{end}}
</ul>

<script>
    $( document ).ready(function() {
        console.log( "ready!" );
    });
    
    function fnDeleteTodo(selectIdx) {
        $("#todoIdx").val(selectIdx);
        $("#todoForm").attr("action", "/delete");
        $('#todoForm').submit();
    }

    function fnUpdateTodo(selectIdx,curIsDone) {
        $("#todoIdx").val(selectIdx);
        
        if (curIsDone == "true") {
            $("#isDone").val("false");
        }else {
            $("#isDone").val("true");
        }
        
        $("#todoForm").attr("action", "/update");
        $('#todoForm').submit();
    }

    function fnAddTodo() {
        if ($("#todoTitle").val() == "") {
            alert("Title is empty ");
            return;
        }
        
        $("#todoForm").attr("action", "/add");
        $('#todoForm').submit();
    }
</script>

</body>
</html>
